.wrapper {
    display: flex;
    padding: 8px;
    justify-content: space-between;
    gap: 16px;
}
.wrapper form {
    max-width: 33%;
}
.field {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding-bottom: 8px;
}
.summaryTable {
    border-collapse: collapse;
}
.summaryTable td,
.summaryTable th {
    border: 1px solid grey;
    text-align: left;
    padding: 4px 8px;
}
.info {
    color: rgb(82, 81, 81);
    font-size: 0.9rem;
    font-style: italic;
    margin-bottom: 12px;
}
.info pre {
    font-style: normal;
    display: inline;
}