.wrapper {
    display: flex;
    border: 1px solid grey;
    margin-bottom: 24px;
    padding: 8px;
    justify-content: space-between;
}
.summaryTable {
    border-collapse: collapse;
}
.summaryTable td,
.summaryTable th {
    border: 1px solid grey;
    text-align: left;
    padding: 4px 8px;
}